@page
@using Microsoft.Extensions.Localization
@using DemoTuan5.Localization
@using DemoTuan5.Web.Pages.DemoTuan5
@model DemoTuan5.Web.Pages.DemoTuan5.IndexModel
@inject IStringLocalizer<DemoTuan5Resource> L

@{
}
<h1>DemoTuan5</h1>
<p>@L["SamplePageMessage"]</p>
